.Name {
    font-family: "Poppins", sans-serif;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
.Image{
    background-color: black;
    width: 75%;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.Interfaz{
    background-color: darkturquoise;
    border-radius: 15px 15px 15px 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    justify-content: center;
}
.Contenedor{
    margin-left: auto;
    margin-right: auto;
}
.Cont{
    margin-left: auto;
    margin-right: auto;
}