.Pokedex{
    background-color: #352FEA;
    min-height: 400px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    border-radius: 25px;
    padding: 30px;
}
.Busqueda{
    width: 50%;
    padding: 50px;
    border-radius: 15px 50px 50px 15px;
    background-color: red;
}
.Resultado{
    width: 50%;
    padding: 50px;
    border-radius: 50px 15px 15px 50px;
    background-color: red;
}